.section {
  &__focus {
    height: 100vh;
    display: flex;
    width: 100%;
    position: relative;
    z-index: 8;

    &::before {
      content: "";
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
    }

    .box-wrap-new {
      width: 100%;

      .item-images-tour {
        height: 100%;

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      .box-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 20px;
        gap: 50px;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);

        @media (max-width: 1309px) {
          gap: 30px;
        }

        @media (max-width: 767px) {
          gap: 25px;
        }

        .title {
          font-family: BT Beau Sans;
          font-size: 100px;
          font-weight: bold;
          line-height: 1em;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;

          @media (max-width: 1309px) {
            font-size: 60px;
          }

          @media (max-width: 767px) {
            font-size: 40px;
          }
        }

        .descrip {
          font-family: BT Beau Sans;
          font-size: 27px;
          font-weight: 600;
          line-height: 1.4em;
          letter-spacing: 0em;
          color: #ffffff;
          text-align: center;

          @media (max-width: 1309px) {
            font-size: 20px;
          }

          @media (max-width: 767px) {
            font-size: 16px;
          }
        }

        .checkin {
          display: flex;
          border: 1px solid #ffdede;
          border-radius: 4px;
          padding: 8px 28px;
          font-family: BT Beau Sans;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          color: #ffffff;
          width: fit-content;
          background: rgba(0, 0, 0, 0.5);
          transition: all 0.5s ease;

          &:hover {
            background: #368ca5;
          }

          @media (max-width: 767px) {
            font-size: 16px;
          }
        }
      }
    }
  }

  &__join {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 8;

    .box-wrap-join {
      width: 100%;

      .item-images-tour {
        height: 100%;

        @media (max-width: 767px) {
          height: 500px;
        }

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      .box-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 915px;
        padding: 0 60px;
        gap: 30px;
        top: 0;
        right: 10%;
        z-index: 2;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        border: 1px solid #2e2e2e;

        @media (max-width: 1309px) {
          gap: 20px;
          width: 515px;
          padding: 0 40px;
        }

        @media (max-width: 767px) {
          gap: 16px;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: 350px;
          padding: 0 16px;
        }

        .title {
          font-family: BT Beau Sans;
          font-size: 52px;
          font-weight: bold;
          line-height: 1em;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          text-transform: uppercase;

          @media (max-width: 1309px) {
            font-size: 36px;
          }

          @media (max-width: 767px) {
            font-size: 24px;
          }
        }

        .descrip {
          font-family: BT Beau Sans;
          font-size: 24px;
          font-weight: 400;
          line-height: 1.4em;
          letter-spacing: 0em;
          color: #ffffff;
          text-align: left;

          @media (max-width: 1309px) {
            font-size: 18px;
          }

          @media (max-width: 767px) {
            font-size: 14px;
          }
        }

        .checkin {
          display: flex;
          border: 1px solid #ffdede;
          border-radius: 4px;
          padding: 8px 28px;
          font-family: BT Beau Sans;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          color: #ffffff;
          width: fit-content;
          background: rgba(0, 0, 0, 0.5);
          transition: all 0.5s ease;

          &:hover {
            background: #368ca5;
          }

          @media (max-width: 767px) {
            font-size: 13px;
            padding: 5px 20px;
          }
        }
      }
    }
  }

  &__loop-tour {
    background: rgba(0, 0, 0, 0.9);
    padding: 60px 0;

    @media (max-width: 991px) {
      padding: 40px 0;
    }
  }

  &__blog {
    background: rgba(0, 0, 0, 0.9);
    padding: 60px 0;

    @media (max-width: 991px) {
      padding: 40px 0;
    }
  }

  &__tour-page {
    padding: 40px 0;

    .boxtitle {
      text-align: center;
      margin-bottom: 40px;

      .text-title {
        font-family: "Lora";
        display: block;
        font-size: 31px;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: 0em;
        color: #000;
      }
    }

    .list_tours {
      .item_tour {
        height: 100%;
        border-radius: 35px;
        position: relative;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;

        @media (max-width: 991px) {
          flex-direction: column;
          gap: 30px;
        }

        .map {
          width: 30%;
          overflow: hidden;
          position: relative;

          @media (max-width: 991px) {
            width: 100%;
          }

          .openfancybox {
            display: block;
            position: static;

            .image_ori {
              display: inline-block !important;
              position: relative;
              top: 0px;
              left: 0px;
              width: 100%;
              height: auto;
            }
          }
        }

        .detail {
          width: calc(70% - 50px);
          background: #fff;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          border-radius: 35px;
          padding: 35px 40px;
          box-sizing: border-box;
          height: 100%;

          @media (max-width: 991px) {
            width: 100%;
            padding: 20px 15px;
            border-radius: 10px;
          }

          .day {
            font-family: "Lora";
            font-size: 14px;
            font-weight: 400;
            color: #a2a2a2;
            margin-bottom: 8px;
            display: block;

            .icon {
              display: inline-flex;
              position: relative;
              top: 2px;

              svg {
                width: 15px;
                height: 15px;
              }
            }

            strong {
              position: relative;
              margin-right: 10px;
              color: #000 !important;
              font-weight: 16px;
            }
          }

          .detail_top {
            z-index: 2;
            position: relative;

            @media (max-width: 991px) {
              display: flex;
              flex-wrap: wrap;
            }

            .title_tour {
              font-family: "Lora";
              font-size: 1.771vw;
              font-weight: 950;
              color: #000;
              margin-bottom: 1.302vw;

              @media (max-width: 991px) {
                font-size: 24px;
                width: 100%;
              }
            }

            .list_price {
              grid-gap: 1.504vw;
              margin-bottom: 2.604vw;
              display: grid;
              grid-template-columns: repeat(3, 1fr);

              @media (max-width: 991px) {
                margin-bottom: 10px;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 10px;
              }

              .price_box {
                width: 100%;
                display: flex;
                align-items: end;

                @media (max-width: 991px) {
                  margin-bottom: 10px;
                  flex-wrap: wrap;
                }

                .price {
                  font-family: "Lora";
                  font-size: 20px;
                  font-weight: 700;
                  color: red;
                  line-height: 1;
                  transition: 0.5s;
                  padding-right: 20px;
                  -webkit-transition: 0.5s;
                  position: relative;

                  @media (max-width: 991px) {
                    order: 2;
                  }

                  .unit {
                    font-size: 1.354vw;
                    position: absolute;
                    font-weight: 600;
                  }
                }

                .name {
                  font-size: 12px;
                  font-weight: 400;
                  text-decoration: underline;
                  color: #000;
                  transition: 0.5s;
                  -webkit-transition: 0.5s;

                  @media (max-width: 991px) {
                    order: 1;
                    margin-bottom: 5px;
                    width: 100%;
                  }
                }
              }
            }
          }

          .detail_bottom {
            z-index: 1;
            position: relative;
            overflow-y: auto;
            max-height: calc(100vh - 40px - 240px);

            @media (max-width: 991px) {
              max-height: calc(100vh - 0px - 240px - 205px);
            }

            .list_dates {
              .pick {
                width: calc(20% - 50px);
                text-align: left;
                font-weight: 600;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                word-wrap: break-word;
                word-break: break-word;

                @media (max-width: 991px) {
                  display: none;
                }
              }

              .item_date {
                padding-bottom: 2.546vw;
                display: flex;
                justify-content: space-between;

                @media (max-width: 991px) {
                  padding-bottom: 30px;
                }

                &.active {
                  .if {
                    color: #ff0000 !important;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 1;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;

                    &:before {
                      display: none;
                    }
                  }
                }

                &.active_current {
                  .if {
                    position: absolute;
                    left: calc(50% + 15px);
                    width: 80px;
                    top: -10px;
                    overflow: unset;
                    color: #ff0000 !important;
                    font-size: 12px;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    word-wrap: break-word;
                    word-break: break-word;

                    @media (max-width: 991px) {
                      left: 0;
                      bottom: 70%;
                      top: unset;
                    }
                  }

                  .line {
                    .l {
                      display: none;
                    }
                  }
                }

                &.active__cubaton {
                  .if {
                    position: absolute;
                    left: calc(50% + 15px);
                    width: 80px;
                    top: -10px;
                    overflow: unset;
                    color: #ff0000 !important;
                    font-size: 12px;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    word-wrap: break-word;
                    word-break: break-word;

                    @media (max-width: 991px) {
                      left: 0;
                      bottom: 70%;
                      top: unset;
                    }
                  }

                  .line {
                    .l {
                      display: block;
                    }
                  }
                }

                .line {
                  width: calc(20% - 50px);
                  box-sizing: border-box;
                  display: block;
                  position: relative;

                  @media (max-width: 991px) {
                    display: none;
                  }

                  &:before {
                    content: "";
                    background: #00a000;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    top: 25px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 2;
                  }

                  &:after {
                    height: 0px !important;
                  }

                  .l {
                    content: "";
                    background: #dfdfdf;
                    width: 2px;
                    position: absolute;
                    top: 25px;
                    left: 50%;
                    transform: translateX(-50%);
                    height: calc(100% - 25px + 3.646vw - 15px);
                  }

                  .if {
                    font-size: 12px;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    word-wrap: break-word;
                    word-break: break-word;

                    &:before {
                      content: "";
                      background-image: url(../../images/download.svg);
                      width: 20px;
                      height: 20px;
                      top: -25px;
                      left: 10px;
                      position: absolute;
                      transform: translateX(-50%);
                    }
                  }
                }

                .text {
                  width: 80%;
                  float: left;
                  border: 2px solid #00a000;
                  border-radius: 35px;
                  padding: 30px 35px;
                  float: right;
                  box-sizing: border-box;
                  transition: 0.5s;
                  -webkit-transition: 0.5s;

                  @media (max-width: 991px) {
                    border-radius: 10px;
                    padding: 20px 15px;
                    width: 100%;
                  }

                  .title {
                    font-size: 1.05vw;
                    margin-bottom: 1.023vw;
                    font-weight: 700;
                    color: var(--black-color);

                    @media (max-width: 991px) {
                      font-size: 18px;
                      margin-bottom: 10px;
                    }
                  }

                  .description {
                    font-size: 0.833vw;
                    color: var(--black-color);
                    font-weight: 500;
                    line-height: 1.6;

                    @media (max-width: 991px) {
                      font-size: 14px !important;
                    }
                  }
                }
              }
            }

            .info_tour {
              margin-top: 1.046vw;
              display: flex;
              justify-content: space-between;
              gap: 30px;

              @media (max-width: 991px) {
                flex-direction: column;
              }

              .w50 {
                width: 50%;

                @media (max-width: 991px) {
                  width: 100%;
                }

                .title {
                  font-size: 1.05vw;
                  margin-bottom: 1.083vw;
                  font-weight: 700;
                  color: var(--black-color);

                  @media (max-width: 991px) {
                    font-size: 16px;
                    margin-bottom: 8px;
                  }
                }

                span {
                  display: block;
                  font-size: 1.042vw;
                  font-weight: 300;
                  color: var(--black-color);

                  @media (max-width: 991px) {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.box-category {
  &[data-layout="1"] {
    .box-category-top {
      .box-category-title {
        display: block;
        font-family: BT Beau Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        color: #000000;
        margin-bottom: 30px;
      }
    }

    .box-category-middle {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .box-category-item {
        display: flex;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0px 0px 2px 0px rgba(51, 51, 51, 0.05),
          0px 0px 8px 0px rgba(51, 51, 51, 0.08);

        @media (max-width: 991px) {
          display: block;
        }

        .box-category-link-with-avatar {
          width: 390px;
          position: relative;
          overflow: hidden;

          @media (max-width: 991px) {
            width: 100%;
          }

          img {
            border-radius: 6px 0px 0px 6px;

            @media (max-width: 991px) {
              border-radius: 6px 6px 0px 0px;
            }
          }

          &::before {
            padding-bottom: 81.5%;

            @media (max-width: 991px) {
              padding-bottom: 62.5%;
            }
          }

          .box-category-avatar {
            transition: all 0.5s ease;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .box-category-content {
          display: flex;
          flex-direction: column;
          width: calc(100% - 390px);
          padding: 30px 40px;

          @media (max-width: 991px) {
            width: 100%;
            padding: 20px;
          }
        }

        .editor-row-top {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 20px;

          @media (max-width: 766px) {
            margin-bottom: 16px;
            gap: 8px;
          }

          .img-avt {
            width: 32px;
            display: flex;

            @media (max-width: 766px) {
              width: 24px;
            }

            img {
              width: 32px;
              height: 32px;
              object-fit: cover;
              border-radius: 100%;

              @media (max-width: 766px) {
                width: 24px;
                height: 24px;
              }
            }
          }

          .list-info-name {
            width: calc(100% - 42px);
            display: flex;
            align-items: center;
            gap: 4px;

            @media (max-width: 766px) {
              width: calc(100% - 40px);
            }

            .name {
              font-family: BT Beau Sans;
              font-size: 13px;
              font-weight: 300;
              line-height: 21px;
              letter-spacing: 0em;
              color: #000;
            }
          }
        }

        .box-category-link-title {
          display: block;
          font-family: BT Beau Sans;
          font-size: 28px;
          font-weight: 500;
          line-height: 35px;
          letter-spacing: 0em;
          color: #000000;
          margin-bottom: 8px;

          @media (max-width: 766px) {
            font-size: 20px;
            font-weight: 500;
            line-height: 27px;
          }
        }

        .box-flex-category {
          display: none;
        }

        .box-category-category {
        }

        .box-category-time {
        }

        .box-category-sapo {
          display: block;
          font-family: BT Beau Sans;
          font-size: 16px;
          font-weight: 300;
          line-height: 23px;
          letter-spacing: 0em;
          color: #000000;

          @media (max-width: 766px) {
            font-size: 14px;
            font-weight: 300;
            line-height: 21px;
          }
        }
      }
    }
  }

  &[data-layout="2"] {
    .box-category-top {
      .box-category-title {
        display: block;
        font-family: BT Beau Sans;
        font-size: 44px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: 0em;
        color: #8eecf5;
        text-align: center;
        margin-bottom: 40px;

        @media (max-width: 991px) {
          font-size: 32px;
          line-height: 39px;
          margin-bottom: 23px;
        }
      }
    }

    .box-category-middle {
      display: flex;
      gap: 30px;

      @media (max-width: 991px) {
        flex-direction: column;
      }

      .box-category-item {
        border-radius: 6px;
        background: url(../../images/bg-item.png);
        box-shadow: 0px 0px 2px 0px rgba(51, 51, 51, 0.05),
          0px 0px 8px 0px rgba(51, 51, 51, 0.08);
        width: calc(33.33% - 15px);
        padding: 20px;
        border: 1px solid #2e2b2b;

        @media (max-width: 991px) {
          width: 100%;
        }

        .box-category-link-with-avatar {
          margin-bottom: 13px;
          position: relative;
          overflow: hidden;

          img {
            border-radius: 6px;
            object-fit: cover;
          }

          .box-category-avatar {
            transition: all 0.5s ease;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .box-category-content {
          display: flex;
          flex-direction: column;
        }

        .box-category-link-title {
          display: block;
          font-family: BT Beau Sans;
          font-size: 24px;
          font-weight: 700;
          line-height: 32px;
          letter-spacing: 0em;
          color: #ffffff;
          margin-bottom: 12px;
        }

        .box-flex-category {
          display: none;
        }

        .box-category-category {
        }

        .box-category-time {
        }

        .box-category-sapo {
          display: block;
          font-family: BT Beau Sans;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          color: #ffffff;

          .bold {
            font-weight: 600;
          }
        }
      }
    }

    .see-more {
      background: #b7fffa;
      border-radius: 8px;
      padding: 8px 10px;
      display: flex;
      width: fit-content;
      margin-top: 24px;
      font-family: BT Beau Sans;
      font-size: 13px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0em;
      color: #000000;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;

      &:hover {
        background: #368ca5;
        color: #fff;
      }
    }
  }

  &[data-layout="3"] {
    .box-category-top {
      .box-category-title {
        display: block;
        font-family: BT Beau Sans;
        font-size: 44px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: 0em;
        color: #8eecf5;
        text-align: center;
        margin-bottom: 40px;

        @media (max-width: 991px) {
          font-size: 32px;
          line-height: 39px;
          margin-bottom: 23px;
        }
      }
    }

    .box-category-middle {
      display: flex;
      gap: 30px;

      @media (max-width: 991px) {
        flex-direction: column;
      }

      .box-category-item {
        border-radius: 6px;
        background: url(../../images/bg-item.png);
        box-shadow: 0px 0px 2px 0px rgba(51, 51, 51, 0.05),
          0px 0px 8px 0px rgba(51, 51, 51, 0.08);
        width: calc(33.33% - 15px);
        border: 1px solid #fff;
        display: flex;
        flex-direction: column;

        @media (max-width: 991px) {
          width: 100%;
        }

        .box-category-link-with-avatar {
          border-bottom: 1px solid #000;
          position: relative;
          overflow: hidden;

          img {
            border-radius: 6px 6px 0px 0px;
          }

          .box-category-avatar {
            transition: all 0.5s ease;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .box-category-content {
          display: flex;
          flex-direction: column;
          padding: 20px;
          background: #fff;
          flex: 1;
          border-radius: 0px 0px 6px 6px;
        }

        .editor-row-top {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 20px;

          @media (max-width: 766px) {
            margin-bottom: 16px;
            gap: 8px;
          }

          .img-avt {
            width: 32px;
            display: flex;

            @media (max-width: 766px) {
              width: 24px;
            }

            img {
              width: 32px;
              height: 32px;
              object-fit: cover;
              border-radius: 100%;

              @media (max-width: 766px) {
                width: 24px;
                height: 24px;
              }
            }
          }

          .list-info-name {
            width: calc(100% - 42px);
            display: flex;
            align-items: center;
            gap: 4px;

            @media (max-width: 766px) {
              width: calc(100% - 40px);
            }

            .name {
              font-family: BT Beau Sans;
              font-size: 13px;
              font-weight: 300;
              line-height: 21px;
              letter-spacing: 0em;
              color: #000;
            }
          }
        }

        .box-category-link-title {
          display: block;
          font-family: BT Beau Sans;
          font-size: 24px;
          font-weight: 700;
          line-height: 32px;
          letter-spacing: 0em;
          color: #000;
          margin-bottom: 12px;
        }

        .box-flex-category {
          display: none;
        }

        .box-category-category {
        }

        .box-category-time {
        }

        .box-category-sapo {
          display: block;
          font-family: BT Beau Sans;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          color: #000;

          .bold {
            font-weight: 600;
          }
        }
      }
    }
  }
}
